<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.back.neusoft.dao.GeneralitemMapper">

    <resultMap id="BaseResultMap" type="com.max.back.neusoft.pojo.Generalitem">
        <result property="coding" column="coding" jdbcType="CHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findGender" resultType="java.util.Map">
        SELECT *
        FROM n_generalItem
        WHERE coding = 'G001'
           OR coding = 'G002'
    </select>
    <select id="findByRegistered" resultType="java.util.Map">
        SELECT n_registered.r_id   id,
               n_generalItem.value valu
        FROM n_registered
                 INNER JOIN n_generalItem ON n_registered.r_name = n_generalItem.coding
        ORDER BY n_registered.r_id
    </select>
    <select id="getMedicationStatus" resultType="map">
        SELECT *
        FROM n_generalItem
        WHERE coding = 'G008'
           OR coding = 'G009'
           OR coding = 'G010'
    </select>
</mapper>
