<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.back.neusoft.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.max.back.neusoft.pojo.Department">
            <id property="id" column="d_id" jdbcType="VARCHAR"/>
            <result property="avatar" column="d_avatar" jdbcType="VARCHAR"/>
            <result property="classification" column="d_classification" jdbcType="CHAR"/>
            <result property="name" column="d_name" jdbcType="VARCHAR"/>
            <result property="introduce" column="d_introduce" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        d_id,d_avatar,d_classification,
        d_name,d_introduce
    </sql>
</mapper>
