<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.back.neusoft.mapper.LoginMapper">

    <resultMap id="BaseResultMap" type="com.max.back.neusoft.pojo.Login">
            <id property="id" column="l_id" jdbcType="VARCHAR"/>
            <result property="avatar" column="l_avatar" jdbcType="VARCHAR"/>
            <result property="username" column="l_userName" jdbcType="VARCHAR"/>
            <result property="password" column="l_password" jdbcType="VARCHAR"/>
            <result property="permission" column="l_permission" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        l_id,l_avatar,l_userName,
        l_password,l_permission
    </sql>
</mapper>
