<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.back.neusoft.mapper.NondrugMapper">

    <resultMap id="BaseResultMap" type="com.max.back.neusoft.pojo.Nondrug">
            <id property="id" column="d_id" jdbcType="VARCHAR"/>
            <result property="cover" column="d_cover" jdbcType="VARCHAR"/>
            <result property="name" column="d_name" jdbcType="VARCHAR"/>
            <result property="specification" column="d_specification" jdbcType="VARCHAR"/>
            <result property="number" column="d_number" jdbcType="INTEGER"/>
            <result property="price" column="d_price" jdbcType="INTEGER"/>
            <result property="delete" column="d_delete" jdbcType="INTEGER"/>
            <result property="enable" column="d_enable" jdbcType="INTEGER"/>
            <result property="version" column="d_version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        d_id,d_cover,d_name,
        d_specification,d_number,d_price,
        d_delete,d_enable,d_version
    </sql>
</mapper>
