<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.max.back.neusoft.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.max.back.neusoft.pojo.Permission">
            <id property="id" column="p_id" jdbcType="INTEGER"/>
            <result property="url" column="p_url" jdbcType="VARCHAR"/>
            <result property="permission" column="p_permission" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        p_id,p_url,p_permission
    </sql>
</mapper>
